@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-phone-sans-italic/css/bpg-phone-sans-italic.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "BPG Glaho WEB Caps", sans-serif;
    padding-top: 90px;
     
}

/* Header */
.header {
    background-color: purple;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    color: rgb(255, 253, 223);
    font-size: 35px;
    font-weight: bold;
}

/* Menu */
.menu {
    list-style: none;
    display: flex;
     position: relative;
    text-decoration: none;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    font-size: 24px;
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    transition: background-color 0.7s ease;
}

.menu > li > a:hover {
    background-color: transparent;
}



/* Dropdown */
.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #760585;
    min-width: 180px;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown li a {
    color: #f3efef;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.menu li > a:focus + .dropdown {
    display: block;

.dropdown li a:hover {
    background-color: #ba47a9;
}

/* Show dropdown */
.menu li:hover .dropdown {
    display: block;
}

.menu > li > a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 0;
    height: 3px;
    background-color: #ffd6ff;
    transition: all 0.4s ease;
}

/* hover effect */
.menu > li > a:hover::after {
    width: 100%;
    left: 0;
}



.hero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7)),
                      url(../images/background1.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 40px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.hero p {
    font-size: medium;
    font-family: "BPG Phone Sans Italic", sans-serif;
    margin-top: 25px;


}



#menu-toggle:checked + .hamburger + nav { display: block; }


.hamburger {
    display: none;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

/* Mobile & Tablet */
@media (max-width: 900px) {

    .hamburger {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: purple;
        display: none;
    }

    /* Show menu when checked */
    #menu-toggle:checked + .hamburger + nav {
        display: block;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .menu > li > a {
        padding: 15px;
        font-size: 20px;
    }

    /* Dropdown mobile */
    .dropdown {
        position: static;
        box-shadow: none;
        display: none;
    }

    .menu li:hover .dropdown {
        display: none;
    }



    .menu li > a:focus .dropdown {
        display: block;
    }
}

.menu li:focus-within .dropdown {
    display: block;
}


.content {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 20px;

    display: flex;
    align-items: center;
    gap: 40px;
}

.content .text {
    flex: 1;
}

.content .text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #4a0c5f;
}

.content .text p {
    font-size: 23px;
    line-height: 1.6;
    color: #333;
}

.content .image {
    flex: 1;
}

.content .image img {
    width: 100%;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }
}
 
