
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: purple;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}


.logo {
    margin-left: 15px;
   align-items: left;

}

body {
    font-family: "BPG Glaho WEB Caps", sans-serif;
}
/* Menu */
.menu {
    list-style: none;
    display: flex;
}

body {
    font-family: "BPG Glaho WEB Caps", sans-serif;
}
/* Menu */
.menu {
    list-style: none;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    font-size: medium;
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    transition: background-color 0.7s ease;
    background-color: rgb(223, 97, 223);
    
}

/* Dropdown */
.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #760585;
    min-width: 180px;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown li a {
    color: #e6d9d9;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}

.dropdown li a:hover {
    background-color: #f0f0f0;
}

/* Show dropdown on hover */
.menu li:hover .dropdown {
    display: block;
}
