* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "BPG Glaho WEB Caps", sans-serif;
    padding-top: 90px;
}

/* Header */
.header {
    background-color: purple;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
}

/* Logo */
.logo {
    color: rgb(255, 253, 223);
    font-size: 35px;
    font-weight: bold;
}

/* Menu */
.menu {
    list-style: none;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    font-size: 24px;
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    transition: background-color 0.7s ease;
    position: relative;
}

.menu > li > a:hover {
    background-color: rgba(223, 97, 223, 0.7);
}

.menu > li > a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #ffd6ff;
    transition: width 0.2s ease;
}

.menu > li > a:hover::after {
    width: 95%;
    left: 2.5%;
}




/* Dropdown */
.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #760585;
    min-width: 180px;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown li a {
    color: #f3efef;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.dropdown li a:hover {
    background-color: #ba47a9;
}

/* Show dropdown */
.menu li:hover .dropdown {
    display: block;
}

/* Section background */
section {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)), 
                      url(../images/background1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h1 {

    font-size: 50px;
    color: white;
    position: relative;
    text-align: center;
}

section p {
    font-size: 30px;
    color: whitesmoke;
    text-align: center;
}

/* Hamburger */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 35px;
    color: white;
    cursor: pointer;
}

/* Mobile & Tablet */
@media (max-width: 900px) {

    .hamburger {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: purple;
        display: none;
    }

    /* Show menu when checked */
    #menu-toggle:checked + .hamburger + nav {
        display: block;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    .menu > li > a {
        padding: 15px;
        font-size: 20px;
    }

/* underline */
.menu > li > a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 10px;
    width: 0;
    height: 3px;
    background-color: #ffd6ff;
    transition: all 0.4s ease;
}

/* hover effect */
.menu > li > a:hover::after {
    width: 100%;
    left: 0;
}


    /* Dropdown mobile */
    .dropdown {
        position: static;
        box-shadow: none;
        display: none;
    }

    .menu li:hover .dropdown {
        display: none;
    }

    /* Open dropdown on tap */
    .menu li > a:focus + .dropdown {
        display: block;
    }
}

.hero {
    min-height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7)),
                      url(../images/background1.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
}

    


.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    max-width: 700px;
}


