
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)), url( images/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    background-color: purple;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
}


.logo  {
   color: rgb(255, 253, 223);
    font-size: 35px;
    font-weight: bold;

}

body {
    font-family: "BPG Glaho WEB Caps", sans-serif;
}
/* Menu */
.menu {
    list-style: none;
    display: flex;
}

body {
    font-family: "BPG Glaho WEB Caps", sans-serif;
}
/* Menu */
.menu {
    list-style: none;
    display: flex;
}

.menu > li {
    position: relative;
}

.menu > li > a {
    font-size: 24px;
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
}

.menu > li > a:hover {
    transition: background-color 0.7s ease;
    background-color: rgb(223, 97, 223);
    
}

/* Dropdown */
.dropdown {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #760585;
    min-width: 180px;
    display: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dropdown li a {
    color: #f3efef;
    padding: 12px 15px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
}

.dropdown li a:hover {
    background-color: #ba47a9;
}

/* Show dropdown on hover */
.menu li:hover .dropdown {
    display: block;
}
